#dashboard-content > div.dashboard-container {
  position: relative;
  margin-top: 30px;
  padding: 20px;
  border-radius: 5px;
  background: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#dashboard-content > div.dashboard-container .statbox-container .statbox {
  position: relative;
  overflow: hidden;
  height: 100px;
}

#dashboard-content > div.dashboard-container .statbox-container .statbox i.fa {
  position: absolute;
  opacity: 0.3;
  font-size: 110px;
  bottom: -40px;
  left: -20px;
}

#dashboard-content > div.dashboard-container .statbox-container .statbox .stat-number {
  display: block;
  font-size: 30px;
  font-weight: 600;
  float: right;
}

#dashboard-content > div.dashboard-container .statbox-container .statbox .stat-caption {
  clear: both;
  font-size: 20px;
  font-weight: 300;
  position: relative;
  top: -5px;
}

#dashboard-content > div.dashboard-container .statbox-container .statbox .stat-change {
  clear: both;
  position: absolute;
  bottom: 2%;
  right: 5%;
}

#dashboard-content > div.dashboard-container .statbox-container .statbox .stat-change .stat-percentage {
  position: relative;
  top: -2px;
}

#dashboard-content > div.dashboard-container .statbox-container .statbox .stat-change .stat-percentage.negative {
  background: #E51C23;
}

#dashboard-content > div.dashboard-container .statbox-container .statbox .stat-change .stat-period {
  opacity: 0.7;
}

#dashboard-content > div.dashboard-container .panel-container .panel .panel-heading h3 {
  display: inline-block;
}

#dashboard-content > div.dashboard-container .panel-container .panel .panel-heading .btn-group {
  position: relative;
  top: -5px;
}

#dashboard-content > div.dashboard-container .panel-container .panel .list-group {
  height: 400px;
  overflow-y: scroll;
}

#dashboard-content > div.dashboard-container .panel-container .panel .list-group .list-group-item {
  padding-left: 40px;
  padding-right: 70px;
}

#dashboard-content > div.dashboard-container .panel-container .panel .list-group .list-group-item > * {
  display: inline-block;
}

#dashboard-content > div.dashboard-container .panel-container .panel .list-group .list-group-item .icon-label {
  position: absolute;
  height: 30px;
  width: 30px;
  margin: 0px;
  padding: 0px;
  top: 50%;
  left: 5px;
  -webkit-transform: translate(0px, -50%);
  -ms-transform: translate(0px, -50%);
  transform: translate(0px, -50%);
}

#dashboard-content > div.dashboard-container .panel-container .panel .list-group .list-group-item .icon-label .fa {
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#dashboard-content > div.dashboard-container .panel-container .panel .list-group .list-group-item .action-label {
  padding: 5px;
}

#dashboard-content > div.dashboard-container .panel-container .panel .list-group .list-group-item .feed-time {
  position: absolute;
  right: 10px;
}

#dashboard-content > div.dashboard-container .panel-container .panel .fadedScroller_fade {
  padding: 10px;
  position: relative;
}
