body {
    background: #F4F4F4;
    color: black;
}
ul {
  margin: 0;
  padding: 0;
}

.input-group {
    width: 100%;
}

#nav {
  /*color: black;
    background: white;*/
}

#sidebar {
    background: white;
    color: black;
}

#sidebar h5 {
    color: black;
    padding: 15px 10px;
    text-align: center;
}

#sidebar li {
    list-style: none;
    padding: 10px;
}

#sidebar li:hover {
    background: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.caret {
    /*
    height: 100%;
    margin-top: 80px;*/
}

#content {
  margin-top: 30px;
}

.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 300px;
  margin: 1rem;
  position: relative;
  width: 300px;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
